@tailwind base;
@tailwind components;

@layer base {
    html {
      @apply text-slate-900;
    } 
  }

.tooltip {
    @apply invisible absolute;
}
  
.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

a:hover {
    text-decoration: underline;
}

main a {
    color: blue;
}

@tailwind utilities;
